In [8]:
#Set up import staments for libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import squarify as sq

In [12]:
#read in this online retail dataset excel file from datasets folder
#pandas DataFrame will provide data types for the different columns within the excel file

retail_dataset = pd.read_excel("./datasets/Online Retail.xlsx")
retail_dataset.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom

In [13]:
retail_dataset.shape

(541909, 8)

In [15]:
#.info (Pandas) gives us the data types for diffrent columns

retail_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [16]:
#there are a few columns I will not need (even for exploratory data analysis)
# I dropped the columns for StockCode and CustomerID, this makes dataset easier to analyze

retail_dataset = retail_dataset.drop(["StockCode", "CustomerID"], axis = 1)
retail_dataset.head()

,InvoiceNo,Description,Quantity,InvoiceDate,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom
1,536365,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom

In [18]:
#invoked .strip function so all the leading a trailing white spaces get removed

retail_dataset["Description"] = retail_dataset["Description"].str.strip()
retail_dataset.head()

,InvoiceNo,Description,Quantity,InvoiceDate,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom
1,536365,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom

In [19]:
#checks for any null values in he dataset

retail_dataset.isnull().sum()

InvoiceNo         0
Description    1455
Quantity          0
InvoiceDate       0
UnitPrice         0
Country           0
dtype: int64

In [20]:
#drops any null values present in the data set

retail_dataset.dropna(inplace = True)
retail_dataset.shape

(540454, 6)

In [21]:
(retail_dataset["InvoiceNo"].str.contains("C")).value_counts()

InvoiceNo
True     9288
False       3
Name: count, dtype: int64

In [23]:
#My market analysis is looking for which products were purchased together(itemsets)
#Eliminating those invoices which contain the character C which are returns (getting ride of rules)

retail_dataset["InvoiceNo"] = retail_dataset["InvoiceNo"].astype(str)
retail_dataset = retail_dataset[-retail_dataset["InvoiceNo"].str.contains("C")]
retail_dataset.shape

(531166, 6)

In [24]:
#This data has a lot of duplicates. Im going to drop all the records which are duplicates of other records in the data

retail_dataset_duplicates = retail_dataset[retail_dataset.duplicated()]
retail_dataset_duplicates

,InvoiceNo,Description,Quantity,InvoiceDate,UnitPrice,Country
517,536409,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,United Kingdom
527,536409,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,United Kingdom
537,536409,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,United Kingdom
539,536409,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,United Kingdom
555,536412,ROUND SNACK BOXES SET OF 4 SKULLS,1,2010-12-01 11:49:00,2.95,United Kingdom
...,...,...,...,...,...,...
541675,581538,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,United Kingdom
541689,581538,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,United Kingdom
541692,581538,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,United Kingdom
541699,581538,WICKER STAR,1,2011-12-09 11:34:00,2.10,United Kingdom
541701,581538,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,United Kingdom

In [25]:
#This data has a lot of duplicates. Im going to drop all the records which are duplicates of other records in the data

retail_dataset = retail_dataset.drop (retail_dataset_duplicates.index)
retail_dataset.shape

(525856, 6)

In [26]:
#Getting  rid of unncessary info like if people paid postage on thier invoices helps clear up the data

postage = retail_dataset["Description"] == "POSTAGE"
postage.value_counts()

Description
False    524730
True       1126
Name: count, dtype: int64

In [27]:
retail_dataset = retail_dataset.drop(retail_dataset[postage].index)
retail_dataset.shape

(524730, 6)

In [28]:
#For the purpose of my market basket analysis, I'm soley intrested in seeing goods sold in specific contries
# Focus: Germany, France, Spain, Netherlands, and Belgium

(retail_dataset["Country"]).value_counts()

Country
United Kingdom          480895
Germany                   8653
France                    8093
EIRE                      7883
Spain                     2418
Netherlands               2326
Belgium                   1935
Switzerland               1928
Portugal                  1462
Australia                 1183
Norway                    1052
Channel Islands            747
Italy                      741
Finland                    648
Cyprus                     601
Unspecified                442
Sweden                     428
Austria                    384
Denmark                    367
Poland                     325
Japan                      321
Israel                     291
Hong Kong                  278
Singapore                  222
Iceland                    182
USA                        179
Canada                     150
Greece                     142
Malta                      109
United Arab Emirates        67
RSA                         58
European Community          57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              24
Bahrain                     18
Saudi Arabia                 9
Name: count, dtype: int64

In [31]:
#I filtered out all the records that dont belong to these contries specifically
#after execuing these data cleaning methods I am now left with 23,500 records..initially we started with over 500,000

conutry_list = ["Germany", "France", "Spain", "Netherlands", "Belgium"]
retail_dataset = retail_dataset.loc[retail_dataset["Country"].isin(conutry_list)]\
                                .reset_index().drop('index', axis=1)
retail_dataset.shape

(23425, 6)